<style>#about_nav{text-decoration: underline}</style>
<div id="gallery" class="container-fluid">


    <figure class="col-md-12 thumb">
      <div class="thumbnail about">
        <img class="img-responsive" src="img/00%20Projects/About/IMG_0056.jpg" alt="">
      </div>
    </figure>


    <div class="col-md-12">
      <p id="gal_text">
      Ian Anderson was born in 1991 and grew up in Antipolo, Philippines. He moved to Los Angeles in 2001 with his mother and step father. Out of high school, Ian worked as a teacher of animation and video game design for 5 years at Exceptional Minds Studio. Having no formal art training, Ian was almost entirely self taught. His signature “micro art” style was developed at an early age (the picture displayed on the left was drawn in 1997).

      ‘I’m fascinated by the energy that something handmade gives. Sure, it would be more convenient to go on a computer and create a tile of my patterns, or to make the spacing and line quality absolutely perfect. But I like things a little wrong. Everybody knows what “Right” is supposed to look like, “wrong” is more interesting to me.”

      He is currently getting ready to move to Tokyo early 2017.
      </p>
    </div>
    <!--<hr>-->

    <!-- Footer -->
    <!--<footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer> -->

</div>
