<section id="contact">
    <div class="container">
        <div class="row">
        <div class="pull-left">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-facebook fa-lg wow fadeIn social" data-wow-delay=".1s"></i>
                <p>{{ site.facebook_username }}</p>
            </a>
        </div>
        <div class="pull-left">
            <a href="https://instagram.com/{{ site.instagram_username }}">
                <i class="fa fa-instagram fa-lg wow fadeIn social" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username }}</p>
            </a>
        </div>
        <div class="pull-right">
          <p id="footer_title">&copy;&nbsp;iiANDERSON&nbsp;2016</p>
        </div>
      </div>
      <canvas id="canvas" width="106" height="85" style="background-color:rgba(255, 255, 255, 0)"></canvas>
    </div>
</section>
