<div id="gallery" class="container-fluid">

    <div class="row">

        <figure class="figure col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="too_much_is_never_enough.html">
                <img class="figure-img img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_thumb3.jpg" alt="">
            </a>
            <figcaption class="figure-caption text-center">Too Much Is Never Enough</figcaption>
        </figure>
        <figure class="figure col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="mazeway_to_heaven.html">
                <img class="figure-img img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_thumb1.jpg" alt="">
            </a>
            <figcaption id="mth_text" class="figure-caption text-center">Mazeway to Heaven</figcaption>
        </figure>
        <figure class="figure col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="8x8s.html">
                <img class="figure-img img-responsive" src="img/00%20Projects/8x8s/8x8s_thumb3.jpg" alt="">
            </a>
            <figcaption class="figure-caption text-center">8x8s</figcaption>
        </figure>
        <figure class="figure col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="12x12s.html">
                <img class="figure-img img-responsive" src="img/00%20Projects/12x12s/12x12s_thumb3.jpg" alt="">
            </a>
            <figcaption class="figure-caption text-center">12x12s</figcaption>
        </figure>
        <figure class="figure col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="very_difficult_maze.html">
                <img class="figure-img img-responsive" src="img/00%20Projects/Very%20Difficult%20Maze/verydifficult_thumb4.jpg" alt="">
            </a>
            <figcaption class="figure-caption text-center">Very Difficult Maze</figcaption>
        </figure>
        <figure class="figure col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="everywhere.html">
                <img class="figure-img img-responsive" src="img/00%20Projects/Everywhere/everywhere_thumb1.jpg" alt="">
            </a>
            <figcaption class="figure-caption text-center">Everywhere</figcaption>
        </figure>
        <figure class="figure col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="Shoes.html">
                <img class="figure-img img-responsive" src="img/00%20Projects/Shoes/shoes_thumb1.jpg" alt="">
            </a>
            <figcaption class="figure-caption text-center">Shoes</figcaption>
        </figure>
        <figure class="figure col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="Bike.html">
                <img class="figure-img img-responsive" src="img/00%20Projects/Bike/bike_thumb1.jpg" alt="">
            </a>
            <figcaption class="figure-caption text-center">Bike</figcaption>
        </figure>
        <figure class="figure col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="Untitled.html">
                <img class="figure-img img-responsive" src="img/00%20Projects/Untitled/untitled_thumb1.jpg" alt="">
            </a>
            <figcaption class="figure-caption text-center">Untitled</figcaption>
        </figure>
        <div class="container-fluid">
            <canvas class="pull-right" id="canvas" width="106" height="85" style="background-color:rgba(255, 255, 255, 0)"></canvas>
        </div>
    </div>

    <!--<hr>-->

    <!-- Footer -->
    <!--<footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer> -->

</div>
