<div id="gallery" class="container-fluid">

  <div class="col-md-4 col-md-offset-8 col-sm-12">
    <p id="gal_text">
      <b>Mazeway to Heaven</b>, 2015
      <br>
      <br>
      Painted with acrylic-base markers. This 2400 square foot maze
      <br>
      is fully solvable, with the start being on the 1st floor and
      <br>
      the finish on the 4th floor. It was a contender for World’s
      <br>
      Largest Hand Drawn Maze, but was later disqualified due to
      <br>
      the path openings being larger than 1cm. Located in Cartoon
      <br>
      Network Studios, Burbank.
      <br>
      <br>
      I would like to personally thank Sky Gutierrez for helping me in
      <br>
      the coloring of this behemoth!
      <br>
      <br>
      <i>Photography: Lucien Marcs</i>
    </p>
  </div>
    <div class="row">
        <figure class="col-md-8 col-xs-12 thumb">
            <div style="margin-top: 4px" class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image1.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image2.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image3.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image4.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image5.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image6.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image7.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image8.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image9.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image10.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image11.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image12.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image13.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image14.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image15.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image16.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image17.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image18.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image19.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image20.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image21.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image22.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Mazeway%20to%20Heaven/mazeway_image23.jpg" alt="">
            </div>
        </figure>
    </div>

    <!--<hr>-->

    <!-- Footer -->
    <!--<footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer> -->

</div>
