<div id="gallery" class="container-fluid">

  <div class="col-md-4 col-md-offset-8 col-sm-12">
    <p id="gal_text">
      <b>Cartoon Network Gallery</b>
      <br>
      <br>
      Debut Solo Art Exhibition
      <br>
      Located in Cartoon Network Studios, Burbank, CA
      <br>
      <br>
      I grew up watching a lot of Cartoon Network as a kid, and their
      <br>
      cartoons have had a great deal of influence
      <br>
      on my work.
      <br>
      <br>
      This series of work, titled “Too Much Is Never Enough” features
      <br>
      selected works created over the past 5 years using pen and
      <br>
      markers. Smaller pieces took anywhere from 2-5 days to
      <br>
      complete while larger pieces upwards of 3 months.
      <br>
      <br>
      …In the end, all the audience will see is the finished
      <br>
      product, a sheet of paper filled to the brim with various
      <br>
      intricate designs. To me, the beauty is in each moment filling
      <br>
      up the paper, starting from the bottom and working my way up.
      <br>
      The finished piece is just an inevitable bi-product of the
      <br>
      process.
      <br>
      <br>
      Sometimes people will say that they think the piece looks
      <br>
      better not fully filled up. Although that may produce a more
      <br>
      immediate and gratifying visual experience for the observer,
      <br>
      over time with repeated viewing I feel like that power will
      <br>
      subside. I want my pieces to grow with the viewer over an
      <br>
      extended period of time.
    </p>
  </div>
    <div class="row">

        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image5.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image5d.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image5d2.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image5b.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image5b2.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image5c.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image5c2.jpg" alt="">
            </div>
        </figure>

        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image9b.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image9c.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image9d2.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image9e.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image4a.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image7c.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image3c.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image8e.jpg" alt="">
            </div>
        </figure>
        <figure class="col-md-8 col-xs-12 thumb">
            <div class="thumbnail">
                <img class="img-responsive" src="img/00%20Projects/Too%20Much%20is%20Never%20Enough/tmine_image2.jpg" alt="">
            </div>
        </figure>
    </div>

    <!--<hr>-->

    <!-- Footer -->
    <!--<footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer> -->

</div>
